<!DOCTYPE html>
<html lang="ja" xmlns="http://thymeleaf.com">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ホーム/ブログ一覧</title>
</head>

<body>
  <header th:replace="~{fragments/layout :: header}"></header>
  <h2>ブログ一覧</h2>
  <!-- <table>
    <tr th:each="blog : ${blogs}">
      <td><a th:href="@{/blogs/{id}(id=${blog.id})}" th:text="${blog.id}"></td>
      <td th:text="${blog.title}"></td>
      <td th:text="${#strings.abbreviate(blog.content, 20)}"></td>

    </tr>
  </table> -->
  <table>
    <thead>
      <tr>
        <th>番号</th>
        <th>タイトル</th>
        <th>内容</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="blog : ${blogs}">
        <td> <a th:href="@{/blogs/{id}(id=${blog.id})}" th:text="${blog.id}"></td>
        <td> <a th:href="@{/blogs/{id}(id=${blog.id})}" th:text="${blog.title}"></td>
        <td> <a th:href="@{/blogs/{id}(id=${blog.id})}" th:text="${#strings.abbreviate(blog.content, 20)}"></td>
    </tbody>
  </table>
</body>

</html>