<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>投稿ページ</title>
</head>
<body>
  <form action="/blogs" method="post">
    <div>
    <label for="id">記事番号：<label>
      <input type="text" name="id" id="id">
      </div>
      <div>
      <label for="title">タイトル：<label>
      <input type="text" name="title" id="title">
      </div>
      <div>
      <label for="content">内容：<label>
    <input type="textarea" name="content" id="content">
    </div>
    <button type="submit">投稿</button>
  </form>
</body>
</html>