<!DOCTYPE html>
<html lang="ja" xmlns="http://thymeleaf.com">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>投稿ページ</title>
</head>
<body>
  <header th:replace="~{fragments/layout :: header}"></header>
  <form action="/blogs" method="post">
      <div>
      <label for="title">タイトル：<label>
      <input type="text" name="title" id="title">
      </div>
      <div>
      <label for="content">内容：<label>
    <textarea name="content" id="content" rows="4" cols="40"></textarea>
    </div>
    <button type="submit">投稿</button>
  </form>
</body>
</html>