<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ページ</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <header th:replace="~{fragments/layout :: header}"></header>
  <p>名前: <span th:text="${blog.user_name}"></span></p>
  <p>タイトル: <span th:text="${blog.title}"></span></p>
  <p>内容: <span th:text="${blog.content}"></span></p>
  <a th:href="@{/blogs/{id}/edit(id=${blog.id})}">編集</a>
  <form th:action="@{/blogs/{id}/delete(id=${blog.id})}" method="post">
    <button type="submit">削除</button>
  </form>
</body>

</html>